label.label_right, .label_left {
  float: right;
  width: 20%;
  display: inline;
  .input_right{
    height:21px;
  }
}
.label_right{
  margin: 2% 7% 2% 2%;
}
.label_left{
  margin: 2%;
}
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

